body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

#card {
    margin-left: 7px;
    margin-top: 20px;
}

#img {
    margin-top: 4.5%;   
}

#text {
    text-align: center;
    padding-top: 20px;
}
